/* General Styles */
body {
    font-family: Arial, sans-serif;
}


p {
    color: #666666;
}

/* Navbar Styles */
.navbar {
    position: sticky;
    top: 0;
    z-index: 1000;
    background: linear-gradient(to right, #fff -80%, #152951); 
    color: white;
}
/* Navbar link styles */
.navbar-nav .nav-item .nav-link {
    color: white; /* Default color for menu items */
}

.navbar-nav .nav-item.active .nav-link {
    color: #152951;
    font-weight: 700;
}

#hero-title {
    font-size: 32px;

}

#hero-text {
    color: #ffffff;
    text-decoration: none;
    outline: none;
    border: none;
    text-shadow: 0 0.5px 0.5px rgba(0, 0, 0, 1.0);
}

.quote {
    background-color: white;
    color: #152951;
    align-items: center;
    display: inline-block; 
    padding: 0.2rem 0.7rem; 
    text-decoration: none; 
    border: 1px solid #ccc; 
    border-radius: 4px;
    margin-top: 4px; 
    font-weight: 700;
    animation: pulse 2s infinite;
    transition: background-color 0.3s, color 0.3s; 
}

/* pulsating animation to the .quote class */
@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
} 



/* Apply Bootstrap nav-link hover styles */
.quote:hover {
    background-color: #152951;
    color: white;
    text-decoration: none;
}


/* Navbar brand image and text styles */
.navbar-brand {
    display: flex;
    align-items: center;
    color: white; 
    font-size: 24px; 
    font-weight: bold;
}

.logo-image {
    max-width: 80px; /* Adjust the image width as needed */
    margin-right: 10px; /* Add spacing between the logo and brand text */
}

/* Hero section styles */
.hero {
    position: relative;
    height: 400px; /* Set your desired height */
    background-size: cover;
    background-position: center;
    color: #fff;
    background-color: rgba(21, 41, 81, 0.4);
    text-align: center;
}

.hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); 
}

.hero-content {
    position: relative;
    z-index: 1;
    padding: 100px 0; /* Adjust the padding as needed */
}

#hero-title {
    font-size: 38px;
    font-weight: 700; 
}

#hero-text {
    font-size: 18px;
}

/* Custom CSS for services section */
.services {
    padding: 80px 0;
    background-color: #f8f9fa;
}

.services h3 {
    color: #0078C9;
}

.section-heading {
    text-align: center;
    font-size: 32px;
    margin-bottom: 30px;
    color: #0078C9;
    font-weight: 700;
}

.service-item {
    height: 190px;
    background-color: #fff;
    padding: 20px;
    margin-bottom: 10px;
    text-align: center;
    border-radius: 5px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.service-item:hover,
.curriculum-item:hover {
    transform: translateY(-5px);
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.4);
}

/* Style the Font Awesome icon */
.fa-icon {
    color: #152951;
    font-size: 28px;
    margin-right: 10px;
}



#about-section {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #000; /* Set text color to ensure readability on the background */
    padding: 100px 0; /* Adjust padding as needed */
}

.custom-card {
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}


.statistics {
    background-color: #f8f9fa; /* Set the background color */
    padding: 50px 0; /* Add padding as needed */
    text-align: center;
}

.statistic {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1)
    margin-bottom: 20px;
}

.statistic h3 {
    font-size: 36px; 
    margin: 0;
    color: #0078C9;
}

.statistic p {
    font-size: 18px;
    color: #152951;;
}



/* CSS for the Exam Coaching Section */
.exam-coaching-section {
    padding: 5px;
}

.exam-coaching {
    border: solid #0078C9 0.1px;
    border-radius: 5px;
}

.exam-coaching-content {
    padding: 50px 20px 20px 20px;
}

.examinations-list {
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
    list-style: none;
    padding: 10px; 
}

.examinations-list li::before {
        content: "\f304"; /* Use FontAwesome content code for the pen icon */
    font-family: FontAwesome;
    color: #152951;
    padding-right: 10px;
}

.examinations-list li {
    color: #0078C9;
}

.video-container {
    padding: 0 0 20px 0;
    display: flex;
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
    height: 100%; /* Make the container take up the full height of its parent */
}

video {
    max-width: 100%; /* Ensure the video doesn't exceed its container's width */
}


/* CSS for Curriculum Section */
.curriculum-offered {
    padding: 80px 0;
    background-color: #f8f8f8;
}

.curriculum-item {
    position: relative;
    text-align: center;
    padding: 30px;
    border-radius: 5px;
    min-height: 350px; /* Ensure a minimum height for the items */
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s;
}

.curriculum-item .fas {
    font-size: 35px;
    color: #152951;
    position: relative;
    z-index: 3;
}

/* Background images for different curriculums */
.nigerian-curriculum {
    background-image: url('../img/ng-curriculum-bg.png');
}

.uk-curriculum {
    background-image: url('../img/uk-curriculum-bg.png');
}

.usa-curriculum {
    background-image: url('../img/us-curriculum-bg.png');
}

/* Background images for different curriculums */
.nigerian-curriculum,
.uk-curriculum,
.usa-curriculum {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100%; /* Set minimum height to 100% for full coverage */
    position: relative; /* Ensure relative positioning for the pseudo-element */
}

/* Pseudo-element for the overlay */
.curriculum-item::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 1;
}

/* Text styles */
.curriculum-title {
    font-size: 24px;
    font-weight: 700;
    margin-top: 20px;
    color: #0078C9;
    position: relative;
    z-index: 2;
}

.curriculum-description {
    font-size: 16px;
    margin-top: 20px;
    color: rgba(0, 0, 0, 1); /* Text color for contrast */
    position: relative; /* Add relative positioning for stacking context */
    z-index: 2; /* Place the text above the overlay */
}

/* Media query for responsiveness */
@media (max-width: 767px) {
    .curriculum-item {
        margin-bottom: 30px;
    }
}




/* Default styles for larger screens */
.writing-publishing {
    background-color: #f8f9fa;

}

.cta-link {
    text-decoration: none;
    color: #0078C9;
}

.writing-container {
    padding: 40px;
    background-repeat: no-repeat; 
    background-size: cover; 
    background-position: center; 
    align-items: center; 
    border-radius: 10px;
}

.writing-publishing-image img {
    max-width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
}

.writing-publishing-content {
    text-align: center;
    padding: 20px;
    background-color: #f8f8f8;
    margin-top: 30px;
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
}

/* CSS for published book cards */
.fixed-height {
    height: 400px;
}


.book-card img {
    display: block;
    margin: 0 auto;
    max-height: 100%;
    animation: pulse 4s infinite;
}


/* CEO Summary Section */

.ceo-image-container {
    position: relative;
    display: inline-block;
}

.overview-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%; /* Make sure the container takes full height */
}

.ceo-overview {
    text-align: center;
    padding: 20px;
    font-size: 16px;
    background-color: #f8f8f8;
    margin-top: 30px;
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
}

.ceo-summary {
    background-color: #f8f9fa;
    padding: 80px 0;

}

.ceo-image {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.ceo-details {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.8); /* Adjust the background color and opacity as needed */
    padding: 10px;
    width: 100%;
    max-width: 100%; 
    text-align: center;
    box-sizing: border-box
}

.ceo-name {
    font-size: 22px;
    color: #007bff;
    margin-top: 20px;
    text-align: center;
}

.ceo-qualifications {
    font-size: 12px;
    color: #555;
    margin-top: 10px;
    text-align: center;
}



/* Contact Us Section Styles */
.contact {
    background-color: #f8f9fa;
    padding: 50px 0;
}

.contact h2 {
    font-size: 32px;
    margin-bottom: 20px;
    color: #333;
}

.contact-form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 20px;
}

.form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

textarea.form-control {
    resize: none;
}

.btn-primary {
    background-color: #0078C9;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
}

.btn-primary:hover {
    background-color: #152951;
}

/* Contact Information Styles */

.contact-heading {
    font-size: 218px;
    font-weight: 700;
    margin-top: 20px;
}
.address {
    margin-top: 30px;
    font-size: 18px;
}

.social-media {
    list-style-type: none;
    padding: 0;
    display: flex;
    margin-top: 20px;
}

.social-media li {
    margin-right: 20px;
    font-size: 24px;
    color: #0078C9;
}

.social-media a {
    text-decoration: none;
    color: #007bff;
    transition: color 0.3s ease;
}

.social-media a:hover {
    color: #152951;
}

/* Footer Styles */
footer {
    font-size: 15px;
    background-color: #152951;
}


footer a {
    color: maroon;
    font-weight: 700;
    letter-spacing: -0.2px;
    text-shadow: 0.5px 1px 1px #000;
    text-decoration: none;
}

footer a:hover {
    text-decoration: none;
}
