/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

html {
    scroll-behavior: smooth;
    --scroll-time: 0.8s;
}


p {
    color: #666666;
}

/* header Styles */
header {
    position: sticky;
    top: 0;
    right: 0;
    left: 0;
    z-index: 999;
    
}
.navbar {
    
    background: linear-gradient(to right, #fff -80%, #152951); 
    color: white;
    padding: 30px 50px !important;
}
/* Navbar link styles */
.navbar-nav .nav-item .nav-link {
    color: white; /* Default color for menu items */
}

.navbar-nav .nav-item.active .nav-link {
    color: #152951;
    font-weight: 700;
}

#hero-title {
    font-size: 32px;

}

#hero-text {
    color: #ffffff;
    text-decoration: none;
    outline: none;
    border: none;
    text-shadow: 0 0.5px 0.5px rgba(0, 0, 0, 1.0);
}

.quote {
    background-color: white;
    color: #152951;
    align-items: center;
    display: inline-block; 
    padding: 0.2rem 0.7rem; 
    text-decoration: none; 
    border: 1px solid #ccc; 
    border-radius: 4px;
    margin-top: 4px; 
    font-weight: 700;
    cursor: pointer;
    animation: pulse 2s infinite;
    transition: background-color 0.3s, color 0.3s; 
}

/* pulsating animation to the .quote class */
@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
} 



/* Apply Bootstrap nav-link hover styles */
.quote:hover {
    background-color: #152951;
    color: white;
    text-decoration: none;
}


/* Navbar brand image and text styles */
.navbar-brand {
    display: flex;
    align-items: center;
    color: white; 
    font-size: 24px; 
    font-weight: bold;
}

.logo-image {
    max-width: 80px; /* Adjust the image width as needed */
    margin-right: 10px; /* Add spacing between the logo and brand text */
}

/* Hero section styles */
.hero {
    position: relative;
    height: 400px; /* Set your desired height */
    background-size: cover;
    background-position: center;
    color: #fff;
    background-color: rgba(21, 41, 81, 0.4);
    text-align: center;
}

.hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); 
}

.hero-content {
    position: relative;
    z-index: 1;
    padding: 100px 0; /* Adjust the padding as needed */
}

#hero-title {
    font-size: 38px;
    font-weight: 700; 
}

#hero-text {
    font-size: 18px;
}

/* Custom CSS for services section */
.services {
    padding: 80px 0;
    background-color: #f8f9fa;
}

.services h3 {
    color: #0078C9;
}

.section-heading {
    text-align: center;
    font-size: 32px;
    margin-bottom: 30px;
    color: #0078C9;
    font-weight: 700;
}

.service-item {
    height: 190px;
    background-color: #fff;
    padding: 20px;
    margin-bottom: 10px;
    text-align: center;
    border-radius: 5px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.service-item:hover,
.curriculum-item:hover {
    transform: translateY(-5px);
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.4);
}

/* Style the Font Awesome icon */
.fa-icon {
    color: #152951;
    font-size: 28px;
    margin-right: 10px;
}



#about-section {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #000; /* Set text color to ensure readability on the background */
    padding: 100px 0; /* Adjust padding as needed */
}

.custom-card {
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}


.statistics {
    background-color: #f8f9fa; /* Set the background color */
    padding: 50px 0; /* Add padding as needed */
    text-align: center;
}

.statistic {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.statistic h3 {
    font-size: 36px; 
    margin: 0;
    color: #0078C9;
}

.statistic p {
    font-size: 18px;
    color: #152951;;
}



/* CSS for the Exam Coaching Section */
.exam-coaching-section {
    padding: 5px;
}

.exam-coaching {
    border: solid #0078C9 0.1px;
    border-radius: 5px;
}

.exam-coaching-content {
    padding: 50px 20px 20px 20px;
}

.examinations-list {
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
    list-style: none;
    padding: 10px; 
}

.examinations-list li::before {
        content: "\f304"; /* Use FontAwesome content code for the pen icon */
    font-family: FontAwesome;
    color: #152951;
    padding-right: 10px;
}

.examinations-list li {
    color: #0078C9;
}

.video-container {
    border-radius: 4px;
    display: flex;
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
    overflow: hidden;
}

  .unmute-audio {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(70px) translateX(150px);
    padding: 10px;
    cursor: pointer;
    border-radius: 30px;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
  }

  .unmute-audio img {
    width: 50px;
  }




/* CSS for Curriculum Section */
.curriculum-offered {
    padding: 80px 0;
    background-color: #f8f8f8;
}

.curriculum-item {
    position: relative;
    text-align: center;
    padding: 30px;
    border-radius: 5px;
    min-height: 350px; /* Ensure a minimum height for the items */
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s;
}

.curriculum-item .fas {
    font-size: 35px;
    color: #152951;
    position: relative;
    z-index: 3;
}

/* Background images for different curriculums */
.nigerian-curriculum {
    background-image: url('../img/ng-curriculum-bg.png');
}

.uk-curriculum {
    background-image: url('../img/uk-curriculum-bg.png');
}

.usa-curriculum {
    background-image: url('../img/us-curriculum-bg.png');
}

/* Background images for different curriculums */
.nigerian-curriculum,
.uk-curriculum,
.usa-curriculum {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100%; /* Set minimum height to 100% for full coverage */
    position: relative; /* Ensure relative positioning for the pseudo-element */
}

/* Pseudo-element for the overlay */
.curriculum-item::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 1;
}

/* Text styles */
.curriculum-title {
    font-size: 24px;
    font-weight: 700;
    margin-top: 20px;
    color: #0078C9;
    position: relative;
    z-index: 2;
}

.curriculum-description {
    font-size: 16px;
    margin-top: 20px;
    color: rgba(0, 0, 0, 1); /* Text color for contrast */
    position: relative; /* Add relative positioning for stacking context */
    z-index: 2; /* Place the text above the overlay */
}





/* Default styles for larger screens */
.writing-publishing {
    background-color: #f8f9fa;

}

.cta-link {
    text-decoration: none;
    color: #0078C9;
}

.writing-container {
    padding: 40px;
    background-repeat: no-repeat; 
    background-size: cover; 
    background-position: center; 
    align-items: center; 
    border-radius: 10px;
}

.writing-publishing-image img {
    max-width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
}

.writing-publishing-content {
    text-align: center;
    padding: 20px;
    background-color: #f8f8f8;
    margin-top: 30px;
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
}

/* CSS for published book cards */
.fixed-height {
    height: 400px;
}


.book-card img {
    display: block;
    margin: 0 auto;
    max-height: 100%;
}


/* CEO Summary Section */

.img-main {
    display: flex; 
    align-items: center;
     justify-content: center;
     padding-top: 20px;
     padding-bottom: 20px;
}

.ceo-image-container {
    display: flex;
    position: relative;
    display: inline-block;
    overflow: hidden;
    height: 400px;
}

.ceo-image {
    width: 300px;
    height: 80%;
    border-radius: 500px;
    object-fit: cover;
}

.overview-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%; /* Make sure the container takes full height */
}

.ceo-overview {
    text-align: center;
    padding: 20px;
    font-size: 16px;
    background-color: #f8f8f8;
    margin-top: 30px;
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
}

.ceo-summary {
    background-color: #f8f9fa;
    padding: 80px 0;
margin-bottom: 50px;
}



.ceo-details {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(113, 156, 243, 0.5); /* Adjust the background color and opacity as needed */
    padding: 10px;
    width: 100%;
    max-width: 100%; 
    text-align: center;
    box-sizing: border-box;
    border-radius: 4px;
}

.ceo-name {
    font-size: 22px;
    color: #007bff;
    margin-top: 20px;
    text-align: center;
}

.ceo-qualifications {
    font-size: 12px;
    color: #555;
    margin-top: 10px;
    text-align: center;
}


/* testimonial*/

.testimonial-slider {
    display: flex;
}

.testimonial-item {
    display: flex;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    flex-direction: column;
    align-items: center;
    height: 340px;
    clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 100%, 75% 75%, 0% 75%);
    background-color: #f0f0f0;
    padding: 10px;
    margin: 10px 20px;
    padding-top: 10px;
    text-align: center;
  }

  .testimonial-item p {
    font-size: 18px;
    line-height: 1.6;
    color: #333;
    margin: 10px;
  }

  .testimonial-item cite {
    display: block;
    margin-top: 15px;
    font-style: italic;
    color: #777;
  }


/* Contact Us Section Styles */
.contact {
    background-color: #f8f9fa;
    padding: 50px 0;
}

.contact h2 {
    font-size: 32px;
    margin-bottom: 20px;
    color: #333;
}

.contact-form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 20px;
}

.form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

textarea.form-control {
    resize: none;
}

.btn-primary {
    background-color: #0078C9;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
}

.btn-primary:hover {
    background-color: #152951;
}

/* Contact Information Styles */

.contact-heading {
    font-size: 218px;
    font-weight: 700;
    margin-top: 20px;
}
.address {
    margin-top: 30px;
    font-size: 18px;
}

.social-media {
    list-style-type: none;
    padding: 0;
    display: flex;
    margin-top: 20px;
}

.social-media li {
    margin-right: 20px;
    font-size: 24px;
    color: #0078C9;
}

.social-media a {
    text-decoration: none;
    color: #007bff;
    transition: color 0.3s ease;
}

.social-media a:hover {
    color: #152951;
}

/* Request Page */
.request-body {
    display: flex;
    width: 100%;
    height: 100vh;
    flex-direction: column;
}



.request {
    width: 100%;
    height: 100%;
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.request-child h1 {
    font-weight: bold;
    text-align: center;
}
.request-services {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.request-service {
    padding: 7px 25px;
    border-radius: 20px;
    margin: 7px 0;
    transition: 0.1s ease-in-out;
    
}

.request-service a {
    text-decoration: none;
    color: #007bff;
}
.request-service:hover {
    background-color: #3333331e;
    padding: 7px 25px;
    border-radius: 20px;
    margin: 7px 0;
}

/* Footer Styles */
footer {
    font-size: 15px;
    background-color: #152951;
}


footer a {
    color: maroon;
    font-weight: 700;
    letter-spacing: -0.2px;
    text-shadow: 0.5px 1px 1px #000;
    text-decoration: none;
}

footer a:hover {
    text-decoration: none;
}

@media (max-width: 769px) {


}


/* Media query for responsiveness */
@media (max-width: 576px) {
    .curriculum-item {
        margin-bottom: 30px;
    }

    .unmute-audio {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateY(20px) translateX(80px);
        padding: 10px;
        cursor: pointer;
        border-radius: 60px;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 2;
      }
    
      .unmute-audio img {
        width: 20px;
      }

      .testimonial-slider {
        display: flex;
        flex-direction: column;
    }

    .request-child h1 {
        font-size: 18px;
        margin-bottom: 40px;
    }

    
.request-child {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    height: 80%;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    border-radius: 4px;
}
}



